.content p,li {
  // font-family: serif;
}

strong {
  font-family: sans-serif;
}

ol {
  list-style-type: none;
  counter-reset: number;
}

ol li::before {
  counter-increment: number;
  content: "(" counter(number) ") ";
}

h2 {
  @apply font-bold text-3xl my-5;
}

h3 {
  @apply font-bold text-2xl mt-5 mb-3 border-b border-neutral;
}

a {
  @apply text-primary;
}
