---
import Navbar from "@components/libs/Navbar";
import Layout from "./Layout.astro";
import Profile from "@components/articles/Profile.astro";
import "../styles/article.scss";
import Separator from "@components/libs/Separator.astro";
const { title, date, author } = Astro.props.frontmatter || Astro.props;
---

<Layout title={title}>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">

  <Navbar showLinks={false} />
  <main class="bg-base-200 dark:bg-base-100 min-h-screen flex justify-center pattern">
    <div class="bg-base-100 max-w-5xl w-full px-6 py-9 shadow-xl relative xl:pl-4">
      <div class="absolute h-full top-0 xl:border-r-[12px] border-dotted border-base-300"></div>
      <div class="xl:pl-[40px]">
        <Profile date={date} author={author} />
        <Separator className="my-9" />
        <slot />
      </div>
    </div>
  </main>
</Layout>

<style>
  .pattern {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}
</style>

